<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaults</key>
	<dict>
		<key>allowsAboveHorizon</key>
		<true/>
		<key>photosPerRow</key>
		<integer>6</integer>
		<key>relativeGimbalYaw</key>
		<true/>
		<key>switchPosition</key>
		<dict>
			<key>name</key>
			<string>F</string>
			<key>position</key>
			<integer>1</integer>
		</dict>
	</dict>
    <key>allowsAboveHorizon</key>
    <dict>
        <key>MavicPro</key>
        <false/>
    </dict>
	<key>photosPerRow</key>
	<dict>
		<key>MavicPro</key>
		<integer>7</integer>
	</dict>
	<key>relativeGimbalYaw</key>
	<dict>
		<key>Osmo</key>
		<false/>
		<key>Osmo_Mobile</key>
		<false/>
		<key>OsmoPlus</key>
		<false/>
		<key>Osmo_Pro</key>
		<false/>
		<key>Osmo_Raw</key>
		<false/>
		<key>Phantom_3_4K</key>
		<false/>
		<key>Phantom_3_Advanced</key>
		<false/>
		<key>Phantom_3_Standard</key>
		<false/>
		<key>Phantom_3_Professional</key>
		<false/>
		<key>A3</key>
		<false/>
	</dict>
	<key>switchPosition</key>
	<dict>
		<key>MavicPro</key>
		<dict>
			<key>name</key>
			<string>P</string>
			<key>position</key>
			<integer>2</integer>
		</dict>
		<key>Phantom_4</key>
		<dict>
			<key>name</key>
			<string>P</string>
			<key>position</key>
			<integer>3</integer>
		</dict>
		<key>Phantom4_Pro</key>
		<dict>
			<key>name</key>
			<string>P</string>
			<key>position</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
